# ===============================================
# TELEGRAM BOT SETTINGS
# ===============================================
TELEGRAM_BOT_TOKEN=
ALLOWED_USER_ID=

# ===============================================
# GITLAB SETTINGS (для gitlab_bot.py)
# ===============================================
GITLAB_URL=https://gitlab.kama.gs
GITLAB_PROJECT_ID=
GITLAB_TOKEN=

# ===============================================
# JIRA SETTINGS (для jira_bot.py)
# ===============================================
JIRA_SERVER=
JIRA_PROJECT_KEY=
JIRA_ISSUE_TYPE=Task
JIRA_CONTACT_FIELD=

# Авторизация (используйте ОДИН из способов):
# Вариант 1: Personal Access Token (рекомендуется)
JIRA_PAT=

# Вариант 2: Логин и пароль
JIRA_USERNAME=
JIRA_PASSWORD=
